body {
  margin:0;
  background-image:url(img/back-ground.png);
  height:2420px;
}
header {
  background-color:rgba(150, 150, 150, 0.171);
  width:100%;
  height:50px;
  position:relative;
  top:0;
  position: fixed;
}
.logo {
  font-size: 20px;
  float:left;
  margin-left:30px;
  margin-top:10px;
  color:rgb(151, 151, 151);
  font-family: 'Monotype Corsiva';
}
.youtube, .instagram, .twitter {
  width:24px;
}
.youtube {
  margin-right:20px;
}
.instagram {
  margin-right:20px;
  margin-left:10px;
  margin-top:15px;
}
.icons {
  padding:0 30px;
  float:right;
}
.jump {
  color:rgba(255, 255, 255, 0.589);
  text-decoration: none;
  font-family:'Century Gothic';
  padding:0 10px;
  display:inline-block;
  line-height:50px;
  position: relative;
  top:-8px;
} 
.jump:hover {
  background-color:rgba(0, 0, 0, 0.219);
}

.top-wrapper {
  background-image: url(img/kujira.HEIC);
  height:619px;
  width:100%;
  background-size:cover;
  color:white;
  text-align:center;
}
.hinata {

  width:80px;
}
.me {
  margin-top:100px;
  width:300px;
  border-radius:150px;
  border:3px solid rgb(156, 156, 156);
}
.myname {
  font-size:100px;
  margin-top:5px;
  font-weight:normal;
  color:rgb(255, 255, 255);
  font-family:"Monotype Corsiva";
  padding-bottom:15px;
}
.border {
  border-bottom:1px solid rgba(255, 255, 255, 0.616);

}


.contents-wrapper {
  color:white;
  background-color:rgba(255, 255, 255, 0.103);
  height:1600px;
  margin-top:50px;
}
.contents-container {
  padding:80px 50px;
  font-family:'Century Gothic';
}
.heading {
  border-bottom:1px solid rgba(255, 255, 255, 0.616);
  font-size:70px;
  font-weight:normal;

}
.contents-container p {
  font-size: 40px;
  margin-bottom:125px;
  font-weight:normal;

}
.form {
 background-color:rgb(179, 66, 74);
 padding:30px 140px;
 box-shadow:0 10px black;
 border-radius: 5px;
 border:1px solid white;
 color:black;
 font-size:30px;
}
.message-wrapper {
  margin-top:190px;
  text-align: center;
}
.form:active {
  position:relative;
  top:10px;
  box-shadow:none;
}
footer {
  color:white;
  padding:25px 40px;
}
footer p {
  font-size: 12px;
  opacity:0.7;
}
